In [4]:
import pandas as pd
import numpy as np

In [5]:
lst1=['a','b','c']
lst2=[1,2,3]
arr=np.array(lst2)
pd.Series(arr,index=lst1)

a    1
b    2
c    3
dtype: int32

# Operations

In [7]:
list=['a','b','c']
list

['a', 'b', 'c']

In [8]:
list=['a','b','c']
list_var=list*2
list_var

['a', 'b', 'c', 'a', 'b', 'c']

In [9]:
ser=pd.Series(list)
ser

0    a
1    b
2    c
dtype: object

In [10]:
ser_var=ser*2
ser_var

0    aa
1    bb
2    cc
dtype: object

In [11]:
ser_var=ser*3
ser_var

0    aaa
1    bbb
2    ccc
dtype: object

In [14]:
s1=pd.Series([1,2],['Maths','English'])
s1

Maths      1
English    2
dtype: int64

In [15]:
s2=pd.Series([1,2],['Maths','Hindi'])
s1

Maths      1
English    2
dtype: int64

## Data Frames

In [21]:

import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)
df=pd.DataFrame(randn(3,3),['A','B','C'],['D','E','F'])
df

          D         E         F
A  2.706850  0.628133  0.907969
B  0.503826  0.651118 -0.319318
C -0.848077  0.605965 -2.018168

In [23]:
df['E']

A    0.628133
B    0.651118
C    0.605965
Name: E, dtype: float64

In [24]:
type(df['D'])

pandas.core.series.Series

In [25]:
type(df)

pandas.core.frame.DataFrame

In [26]:
df.head(2)

          D         E         F
A  2.706850  0.628133  0.907969
B  0.503826  0.651118 -0.319318

In [27]:
df.tail(1)

          D         E         F
C -0.848077  0.605965 -2.018168

In [28]:
df.isnull().any()

D    False
E    False
F    False
dtype: bool

In [29]:
df.drop('C')

          D         E         F
A  2.706850  0.628133  0.907969
B  0.503826  0.651118 -0.319318